.grid-container {
  display: grid;
  grid-gap: 8px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
.grid-container-lg {
  display: grid;
  grid-gap: 15px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
a {
  color: white;
}
